<html>
<button pButton type="danger" label="deconection" class="p-button-danger" routerLink="/accueil"></button>
<button pButton  label="boutique" class="p-button-secondary" routerLink="/boutique"></button>
<button pButton  label="Quêtes" class="p-button-warning" routerLink="/quetes"></button>
<button pButton  label="monstre" class="p-button-danger" routerLink="/monstre"></button>
<button pButton  label="perso" class="p-button-info" routerLink="/perso"></button>
<button pButton  label="clasement" class="p-button-info" routerLink="/clasement"></button>
<button pButton  label="monMonstre" class="p-button-info" routerLink="/accueil"></button>

</html>

