<p>boutique works!</p>
<button pButton type="button" label="home" routerLink="/home"></button>

<p-table [value]="boutique">
    <ng-template pTemplate="header">
        <tr>
            <th>nom</th>
            <th>dega</th>
            <th>prix_vente</th>
            <th>prix_achat</th>
            <th>nombre_poseder</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-boutique>
        <tr>
            <td>{{boutique.nom}}</td>
            <td>{{boutique.dega}}</td>
            <td>{{boutique.prix_vente}}</td>
            <td>{{boutique.prix_achat}}</td>
            <td>{{boutique.nombre_poseder}}</td>
            <td><button pButton type="button" label="amodif" routerLink="/home"></button>
            <button pButton type="button" label="amodif" routerLink="/home"></button></td>
        </tr>
    </ng-template>
</p-table>
